# Dependencies
node_modules/

# Testing
_tests_/
coverage/

# Environment variables
.env
.env.local
.env.development
.env.test

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Editor directories
.idea/
.vscode/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache
.npm

types.ts